<header>
    <span class="icons">
        <a href="{{ .Site.BaseURL }}">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-home fa-stack-1x"></i>
            </span>
        </a>
        <a href="http://jacob-petersen.com">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-user fa-stack-1x"></i>
            </span>
        </a>
        <a href="{{ .Site.BaseURL }}tags/">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-tags fa-stack-1x"></i>
            </span>
        </a>
        <a href="https://twitter.com/petetalksweb">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
        </a>
        <a href="https://github.com/petetalksweb">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-github fa-stack-1x"></i>
            </span>
        </a>
        <a href="{{ .Site.BaseURL }}">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-rss fa-stack-1x"></i>
            </span>
        </a>
    </span>
</header>
<br />